#pagecontainer_cw01_cw01_animationComponent {
  height: 526px;

}
#cw01_cw01_animationComponent {
  width: 945px;
  background-color: #fff;
  padding: 15px;
  position: relative;
  height: 545px;
}
#anim_1{
	position:relative;
}
