/* TODO: START - Check the below styles */
#feedback,
#popup_close,
#transcript {
    height : auto;
}
/* TODO: END */
/* Popup Containers */
#popup_containers {
    position: absolute;
    /*float: left;*/
}
#popup_containers > .popup-container.popup-show {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#popup_containers > .popup-container > .tis-popup {
    position: fixed;
    top: 2.500em;
    left: 1.500em;
    width: 89%;
    margin: 0 auto;
    background-color: #FFFFFF;

    border:solid rgba(255,255,255, 0.3);/*change border*/
    border-radius : 9px 9px 9px 9px;
    -moz-border-radius : 9px 9px 9px 9px;
    -webkit-border-radius : 9px 9px 9px 9px;
}
#popup_containers > .popup-container > .tis-popup > .popup-bg{
    background-color: #FFFFFF;
}

#popup_containers > .popup-container#pagepopup {
    z-index: 7;
}
#popup_containers > .popup-container#uipopup {
    z-index: 7;
}
/* Popup Overlay */
.overlay,
.popup-overlay {
    background-color: #000000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    filter: alpha(opacity=80);
    position: fixed;
    z-index: 5;
}
/* Popup Headings */
.popup-heading,
.popup-heading:focus {
    font-weight: bold;
    min-height: 30px;
    padding:5px 5px 0 5px;
    outline: none;
}
.popup-heading > #txt_title,
.popup-heading > .popup-title{
    font-size: inherit;
    color: inherit;
    font-weight: bold;
    margin-right: 30px;
}
/* Popup Body */
.popup-body {
    overflow-y: auto;
    padding: 15px;
}
/* TODO: START - Remove #btn_close and have .popup-close-btn everywhere */
#btn_close,
button#btn_close,
.popup-close-btn,
button.popup-close-btn {
    top: 0.26rem !important;
    border: 0.1em solid rgba(255,255,255, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color:rgba(255,255,255, 1);
    line-height: 0.8rem !important;
    padding: 0px 0px 2px !important;
    margin:0 !important;
    z-index:8888 !important;
    position: absolute !important;
    right: 4px !important;
    webkit-backface-visibility: hidden;
}
#btn_close:after,
button#btn_close:after,
.popup-close-btn:after,
button.popup-close-btn:after {
  content: 'x';
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: initial;
  line-height: 100%;
  margin: 0 auto;
}
/* TODO: END */

/* Feedback Popups */
/* Heading */
#feedback.correct .popup-heading {
    background-color : rgba(160, 230, 97, 0.8);
    border-radius : 9px 9px 0px 0px;
    -moz-border-radius : 9px 9px 0px 0px;
    -webkit-border-radius : 9px 9px 0px 0px;
}
#feedback.incorrect .popup-heading {
    background-color: rgba(255, 189, 183, 0.8);
    border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
    -webkit-border-radius: 9px 9px 0px 0px;
}
/* Content Wrapper */
#feedback.correct > .popup-wrapper {
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjY3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(top,  rgba(160, 230, 97,0.67) 0%, rgba(160, 230, 97,0.39) 100%);/* FF3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160, 230, 97,0.67)), color-stop(100%,rgba(160, 230, 97,0.39)));/* Chrome,Safari4+ */
    background : -webkit-linear-gradient(top,  rgba(160, 230, 97,0.67) 0%,rgba(160, 230, 97,0.39) 100%);/* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(top,  rgba(160, 230, 97,0.67) 0%,rgba(160, 230, 97,0.39) 100%);/* Opera 11.10+ */
    background : -ms-linear-gradient(top,  rgba(160, 230, 97,0.67) 0%,rgba(160, 230, 97,0.39) 100%);/* IE10+ */
    background : linear-gradient(to bottom,  rgba(160, 230, 97,0.67) 0%,rgba(160, 230, 97,0.39) 100%);/* W3C */
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#abffffff', endColorstr='#63ffffff',GradientType=0 );/* IE6-8 */
    border-radius : 9px 9px 9px 9px;
    -moz-border-radius : 9px 9px 9px 9px;
    -webkit-border-radius : 9px 9px 9px 9px;
}
#feedback.incorrect > .popup-wrapper {
    border-radius : 9px 9px 9px 9px;
    -moz-border-radius : 9px 9px 9px 9px;
    -webkit-border-radius : 9px 9px 9px 9px;
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjY3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(top,  rgba(255, 189, 183,0.67) 0%, rgba(255, 189, 183,0.39) 100%);/* FF3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 189, 183,0.67)), color-stop(100%,rgba(255, 189, 183,0.39)));/* Chrome,Safari4+ */
    background : -webkit-linear-gradient(top,  rgba(255, 189, 183,0.67) 0%,rgba(255, 189, 183,0.39) 100%);/* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(top,  rgba(255, 189, 183,0.67) 0%,rgba(255, 189, 183,0.39) 100%);/* Opera 11.10+ */
    background : -ms-linear-gradient(top,  rgba(255, 189, 183,0.67) 0%,rgba(255, 189, 183,0.39) 100%);/* IE10+ */
    background : linear-gradient(to bottom,  rgba(255, 189, 183,0.67) 0%,rgba(255, 189, 183,0.39) 100%);/* W3C */
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#abffffff', endColorstr='#63ffffff',GradientType=0 );/* IE6-8 */
}


