.summary-bg.image-centre {
    margin: 10px 10px 10px 2px;
}

#txt_2 ul li {
	list-style: disc;
}

.topic-title{
	display: none;
}

#nav-i-text.i-text{
	display: none;
}

#container_navigation{
	height: 29px;
}
