.hide{
	display:none !important;
}


.stage-editor {
    position: absolute;
    left: 0;
    top: -22px;
}
#panels{
    z-index: 100;
    position:absolute;
	
}
.css-panel {
    width: 210px;
    border: 1px dashed rgb(10,10,0);
    background-color: rgba(250,250,250,1);
    padding: 5px;
    height: 400px;
    overflow-y: auto;
    left:10px;
    top:10px;
    position: absolute;
    z-index: 100;
}
.css-panel .style {
    border-bottom: 1px dashed rgb(10,10,0);
    padding: 5px;
}
.css-panel h4 {
    height: 30px;
    padding: 0;
    margin: 0;
    background: gray;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    width: 183px;
    text-align: center;
}
.css-panel label {
        color: blue;
    font-size: 0.7em;
    float: left;
    margin-top: 10px;
    border-top: 1px dashed gray;
    width: 100%;
    display: inline-block;
}
.css-panel label#lbl_search{
	    color: #000;
    font-size: 0.9em;
}
.css-panel input {
    width: 180px;
    height: 1em;
    font-size: 0.72em;
    height: 14px;
}
.css-panel input#search {
    height: 18px;
    border: 2px solid gray;
}
#resize-handle {
  position: absolute;
  left: -1000px;
  top: 0;
  width: 20px;
  height: 20px;
  
  border-top: solid 2px rgb(82,194,122);
  border-left: solid 2px rgb(82,194,122);
  z-index: 101;
  cursor:pointer;
}