.sprite{
	
	/*width:60px;
	height:60px;*/
	/*display:inline-block;*/
	/*position: absolute;*/
	left:0;
	top:0;

}
.drag-bar{
	background:red;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	width:20px;
	height:20px;
}

.sprite.react-edit{
	border:1px dashed orange;
	/*background:rgba(100, 100, 100, 0.5);	*/
	border:1px dashed rgb(100 , 100 , 100);
}
