.page-image-01 {
	width: 706px;
	height: 386px;
	margin: 10px 0 20px;
}

.media-image {
    background-image: url("sco_content/en/images/module_pages01.jpg");
	background-color: transparent;
    background-position: -272px -681px;
    background-repeat: no-repeat;
    
}

