.page-image-01{
	background: url("sco_content/en/images/module_pages.jpg") no-repeat scroll -324px -467px rgba(0, 0, 0, 0);
    height: 377px;
    margin-top: 3px;
    width: 280px;
    margin-right: 28px;
   
}

#txt_2 ol li {
    list-style: decimal outside none;
    margin-left: 280px;
}
