/* Page Level Styles */
/* i-text Icons */
.i-text > .icon {
	background-image: url("images/component_02.png");
	display: inline-block;
	height: 15px;
	width: 14px;
	vertical-align: middle;
}
.i-text > .icon.prev {
	background-position: -59px 0px;
}
.i-text > .icon.next {
	background-position: -46px 0px;
}
/* SLider Panel Content / Image Styles */
.carousel > .carousel-inner > #carousel1_panel0.panel > .panel-inner > img.left {
	margin: 0px 15px 0px 0px;
}

/*For Timeline*/

.carousel > .carousel-inner > .indicators {
	background: none repeat scroll 0 0 #0f2c4c;
    bottom: 29px;
    height: 3px;
    line-height: 0;
    margin: 0 36px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 90%;
    z-index: 1;
}

.indicators:before {
    background-color: #ffffff;
    border: 3px solid #0f2c4c;
    border-radius: 10px;
    content: "";
    height: 15px;
    left: -14px;
    position: absolute;
    top: -5px;
    width: 15px;
}

.indicators:after {
    background-color: #ffffff;
    border: 3px solid #0f2c4c;
    border-radius: 10px;
    content: "";
    height: 15px;
    right: -14px;
    position: absolute;
    top: -5px;
    width: 15px;
}

.carousel > .carousel-inner > .carousel-nav > .nav.prev-btn {
	display: none;
	left: 0;
	top: 0;
}
.carousel > .carousel-inner > .carousel-nav > .nav.next-btn {
	display: none;
	right: 0;
	top: 0;
}
.slide-mask {
	margin: 0;
	height: 370px;
}

.time-line-img01 {
	background: url("sco_content/en/images/carousal.jpg") no-repeat scroll 0 0 transparent;
	width: 283px;
	height: 225px;
}

.carousel > .carousel-inner > .indicators > .indicator {
	background-color: #336699;
	display: inline-block;
	height: 10px;
	margin-right: 0px;
	margin-top: 0px;
	width: 10px;
	position: absolute;
}

#carousel1_indicator0{
	background-color: #fad200;
	top: -4px;
	left: 50px;
}
#carousel1_indicator0.selected{
	background: none repeat scroll 0 0 #e8590b;
}

#carousel1_indicator1{
	background-color: #e60a4b;
	top: -4px;
	left: 135px;
}
#carousel1_indicator1.selected{
	background: none repeat scroll 0 0 #e8590b;
}

#carousel1_indicator2{
	background-color: #73cd23;
	top: -4px;
	left: 220px;
}
#carousel1_indicator2.selected{
	background: none repeat scroll 0 0 #e8590b;
}
#carousel1_indicator3{
	background-color: #8c0aeb;
	top: -4px;
	left: 305px;
}
#carousel1_indicator3.selected{
	background: none repeat scroll 0 0 #e8590b;
}

#carousel1_indicator4{
	background-color: #0a9be6;
	top: -4px;
	left: 390px;
}
#carousel1_indicator4.selected{
	background: none repeat scroll 0 0 #e8590b;
}

#carousel1_indicator5{
	background-color: #325ae1;
	top: -4px;
	left: 475px;
}
#carousel1_indicator5.selected{
	background: none repeat scroll 0 0 #e8590b;
}

#carousel1_indicator6{
	background-color: #f50091;
	top: -4px;
	left: 560px;
}
#carousel1_indicator6.selected{
	background: none repeat scroll 0 0 #e8590b;
}

.indicator .tab-label {
    background: none repeat scroll 0 0 #0f2c4c;
    color: #ffffff;
    height: 20px;
    padding-top: 9px;
    position: absolute;
    width: 45px;
}


.indicator.selected .tab-label:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: -30px;
    width: 0;
}

.indicator .tab-label:after {
    background: none repeat scroll 0 0 #0f2c4c;
    content: "";
    height: 20px;
    left: 22px;
    position: absolute;
    top: 20px;
    width: 2px;
}

.indicator.selected .tab-label:after, .indicator.hover .tab-label:after {
    background: none repeat scroll 0 0 #e8590b;
    content: "";
    height: 20px;
    left: 22px;
    position: absolute;
    top: 20px;
    width: 2px;
}
 
.indicator .indicator-btn {
    background-color: #ffffff;
    border: 3px solid #0f2c4c;
    border-radius: 10px;
    height: 20px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 20px;
    z-index: -1;
}

.indicator.selected .indicator-btn, .indicator.hover .indicator-btn{
	border: 3px solid #e8590b;
}

.indicator.hover .tab-label, .indicator.selected .tab-label {
    background: none repeat scroll 0 0 #e8590b;
}

.indicator #tab1-text, 
.indicator #tab2-text, 
.indicator #tab3-text, 
.indicator #tab4-text, 
.indicator #tab5-text, 
.indicator #tab6-text, 
.indicator #tab7-text{
	left: -18px;
    top: -45px;
}

.carousel > .carousel-inner > .indicators > .indicator.selected {
    background-color: #e8590b;
}

.carousel > .carousel-inner > .indicators > .indicator {
    background-color: #336699;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    width: 10px;
}

.carousel > .carousel-inner {
    background-color: #f0f0f0;
    height: 100%;
    position: relative;
}

.carousel > .carousel-inner .slide > .slide-inner {
    background-color: #ffffff;
    height: 225px;
    overflow-y: auto;
    padding: 0;
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.2);
}


